body {font:11px Arial, Helvetica, sans-serif;}
h1 {}

#main-content-container {
	padding: 20px;
}
#footer-container {
	border-top: 1px solid #aaa;
}
#footer-container, #header-container {
	height: 50px;
	line-height: 50px;
	text-align: center;
	border-bottom: 1px solid #aaa;
	background-color: #eee;
}
